<form class="container" #registerForm="ngForm" (ngSubmit)="addOrEditStudent()" autocomplete="off">
  <h2 class="text-center text-primary" *ngIf="isregister">Regestrieren</h2>
  <h2 class="text-center text-primary" *ngIf="!isregister">Bearbeiten</h2>
  <hr>
  <div class="form-group">
    <input type="text" class="form-control" name="name"
           [(ngModel)]="model.name" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="vorname"
           [(ngModel)]="model.vorname" placeholder="Vorname">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="email"
           [(ngModel)]="model.email" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="matrikelNum"
           [(ngModel)]="model.matrikelNum" placeholder="Matrikelnummer">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="bibNum"
           [(ngModel)]="model.bibNum" placeholder="Bibliotheknummer">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" *ngIf="isregister" type="submit">Regestrieren</button>
    <button class="btn btn-success mr-2" *ngIf="!isregister" type="submit">Update</button>
    <button class="btn btn-danger mr-2" type="button" (click)="cancel()">Abbrechen</button>
  </div>

</form>

