<app-header-nav></app-header-nav>

<div class="row nav-link" *ngIf="(adminService.currentAdmin$ | async) as admin"
     style="margin-top:2%; padding-bottom:3.9% ;background-color: #49C593">

  <app-admin-nav></app-admin-nav>

  <form class="container" autocomplete="off" (ngSubmit)="changePassword()"
        style="margin-left:33%;margin-bottom:3%;width:40%">

    <div class="form-group">
      <input type="password" class="form-control" name="password"
             [(ngModel)]="model.password" placeholder="Passwort">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="newPassword"
             [(ngModel)]="model.newPassword" placeholder="Neues Password">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="confirmPassword"
             [(ngModel)]="model.confirmPassword" placeholder="Bestätigen">
    </div>
    <div class="form-group text-center">
      <button class="btn btn-success mr-2" type="submit">Passwort ändern</button>
    </div>

  </form>
</div>





