<app-header-nav></app-header-nav>

<div class="container">
  <h4 class="titleTable">Zum Ausleihen wählen Sie bitte ein Buch aus</h4>

  <div id="table-scroll">
    <table class="table table-hover table-striped table-fixed">
      <thead class="table-dark" id="table-wrapper">
        <tr>
          <th>#</th>
          <th>#</th>
          <th>Title</th>
          <th>Isbn</th>
          <th>Verlag</th>
          <th>Verfügbar</th>
          <th>Anzahl</th>
          <th>Autor</th>
          <th>Kategorie</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let book of bookList$ | async'>
          <td>
            <div class="input-group-text">
              <input [(ngModel)]="bkIdChoice" type='radio' value='{{book.id}}' />
            </div>
          </td>
          <td>{{book.foto}}</td>
          <td>{{book.title}}</td>
          <td>{{book.isbn}}</td>
          <td>{{book.verlag}}</td>
          <td>{{book.verfuegbar}}</td>
          <td>{{book.anzahl}}</td>
          <td>{{book.autor}}</td>
          <td>{{book.kategorie}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button (click)="borrow()" type="button" class="btn btn-primary mr-2">Ausleihe</button>
  <button routerLink="/student-page" type="button" class="btn btn-danger mr-2">Abrechen</button>
</div>
