<app-header-nav></app-header-nav>

<div class="position container">
  <button  routerLink='/admin-register' type="button" class="btn btn-success mr-2 btn-position">Admin hinzufügen</button>

  <div id="table-scroll">

    <table class="table table-hover table-striped table-fixed">
      <thead class="table-dark" id="table-wrapper">
        <tr>
          <th></th>
          <th>Bild</th>
          <th>Name</th>
          <th>Vorname</th>
          <th>Email</th>
          <th>Rolle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let admin of admins$ | async'>
          <td>
            <div class="input-group-text">
              <input [(ngModel)]="adminId" type='radio' value='{{admin.id}}' />
            </div>
          </td>
          <td>{{admin.foto}}</td>
          <td>{{admin.name}}</td>
          <td>{{admin.vorname}}</td>
          <td>{{admin.email}}</td>
          <td>{{admin.rolle}}</td>
        </tr>
      </tbody>
    </table>
  </div>
    <button (click)="deleteAdmin()" type="button" class="btn btn-danger mr-2">Löschen</button>
</div>


