<app-header-nav></app-header-nav>
<app-admin-register *ngIf="registerFrom" (cancelRegister)="cancelRegisterMode($event)"></app-admin-register>
<div class="position container" *ngIf="!registerFrom">
  <button (click)="addAdmin()" type="button" class="btn btn-success mr-2 btn-position">Admin hinzufügen</button>

  <div id="table-scroll">

    <table class="table table-hover table-striped table-fixed">
      <thead class="table-dark" id="table-wrapper">
        <tr>
          <th>#</th>
          <th>#</th>
          <th>Name</th>
          <th>Vorname</th>
          <th>Email</th>
          <th>Rolle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let admin of admins'>
          <td>
            <div class="input-group-text">
              <input [(ngModel)]="idChoice" type='radio' value='{{admin.id}}' />
            </div>
          </td>
          <td>{{admin.foto}}</td>
          <td>{{admin.name}}</td>
          <td>{{admin.vorname}}</td>
          <td>{{admin.email}}</td>
          <td>{{admin.rolle}}</td>
        </tr>
      </tbody>
    </table>
  </div>
    <button (click)="deleteAdmin()" type="button" class="btn btn-danger mr-2">Delete</button>
</div>


