.main-nav {
  background-color: #49C593;
  height: 6em;
  border: 5px solid #49C593;
}

.dropdown {
  float: right;
  margin-top: 2%;
  margin-right: 2%;
}

a.login {
}

.imgleft {
  float: left;
  width: 6%;
}

.title-header {
  float: left;
  margin-top: 1.3%;
}

.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}

a:hover {
  text-decoration: none;
}
