<app-header-nav></app-header-nav>

<div class="col-8">
  <div class="alert alert-info" *ngIf="registerForm.dirty">
    <strong>Information:</strong>
    Sie haben änderungen vorgenommen, Alle nicht gespeicherten Änderungen gehen verloren.
  </div>
</div>

<form class="container" #registerForm="ngForm" (ngSubmit)="editStudent()" autocomplete="off">
  <h2 class="text-center text-primary">Bearbeiten</h2>
  <hr>
  <div class="form-group">
    <input type="text" class="form-control" name="name"
           [(ngModel)]="model.name" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="vorname"
           [(ngModel)]="model.vorname" placeholder="Vorname">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="email"
           [(ngModel)]="model.email" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="matrikelNum"
           [(ngModel)]="model.matrikelNum" placeholder="Matrikelnummer">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="bibNum"
           [(ngModel)]="model.bibNum" placeholder="Bibliotheknummer">
  </div>

  <div class="form-group text-center">
    <button [disabled]="!registerForm.dirty" class="btn btn-success mr-2" type="submit">Aktualisieren</button>
    <button class="btn btn-danger mr-2" type="button" routerLink="/student-page">Abbrechen</button>
  </div>

</form>
