<app-header-nav></app-header-nav>

<div class="row nav-link" *ngIf="(adminService.currentAdmin$ | async) as admin"
     style="margin-top:2%;  background-color: #49C593">

  <div class="col-2" style="margin-top:1%;">
    <div class="nav flex-column nav-pills" aria-orientation="vertical">
      <a class="nav-link active"
         routerLink='/student-page'
         routerLinkActive="active">
        Profil bearbeiten
      </a>
      <a class="nav-link" style="color:white;"
         routerLink='/overview'
         routerLinkActive="active">
        Passwort ändern
      </a>
    </div>
  </div>

  <form class="container" autocomplete="off" (ngSubmit)="editAdmin()"
        style="margin-left:33%;margin-bottom:3%;width:40%">

    <div class="form-group">
      <input type="text" class="form-control" name="username"
             [(ngModel)]="model.username" placeholder="Benutzername">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="name"
             [(ngModel)]="model.name" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="vorname"
             [(ngModel)]="model.vorname" placeholder="Vorname">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password"
             [(ngModel)]="model.password" placeholder="Passwort">
    </div>
    <div class="form-group text-center">
      <button class="btn btn-success mr-2" type="submit">Änderung speichern</button>
    </div>

  </form>

</div>




