<app-header-nav></app-header-nav>

<div class="position container">
  <h4 class="titleTable">Insgesamt ausgeliehene Bücher</h4>

  <div id="table-scroll">
    <table class="table table-hover table-striped table-fixed">
      <thead class="table-dark" id="table-wrapper">
        <tr>
          <th>#</th>
          <th>#</th>
          <th>Title</th>
          <th>ISBN</th>
          <th>Verlag</th>
          <th>Autor</th>
          <th>Ausgeliehen Von</th>
          <th>Ausgeliehen Bis</th>
          <th>Übrige Tage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let borrow of this.borrowService.borrows'>
          <td>
            <div class="input-group-text">
              <input [(ngModel)]="idChoice" type='radio' value='{{borrow.id}}' />
            </div>
          </td>
          <td>{{borrow.foto}}</td>
          <td>{{borrow.title}}</td>
          <td>{{borrow.isbn}}</td>
          <td>{{borrow.verlag}}</td>
          <td>{{borrow.autro}}</td>
          <td>{{borrow.studentName}}</td>
          <td>{{borrow.borrowedUntil}}</td>
          <td>{{borrow.remainingDays}}</td>
        </tr>
      </tbody>
    </table>
  </div>
    <button (click)="deleteBorrow()" type="button" class="btn btn-danger mr-2">Delete</button>
</div>
